page-home {
    .Processando{
        border-left: solid 10px darkred
    }
    .Executando{
        border-left: solid 10px darkorange
    }
    .Transporte{
        border-left: solid 10px yellowgreen
    }
}
