page-home {
    .priority-high{
        border-left: solid 10px darkred
    }
    .priority-medium{
        border-left: solid 10px darkorange
    }
    .priority-low{
        border-left: solid 10px yellowgreen
    }
}
